.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header{
	flex-basis: 30%;
	background-color: red;
	color: white;
}

main{
	flex-basis: 40%;
	background-color: green;
	color: white;
	position: relative;
}

button{
	display: block;
	margin: 10px auto;
}

aside{
	background-color: aqua;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 500px;
	height: 100%;
}

footer{
	flex-basis: 30%;
	background-color: black;
	color: white;
}
